

    <section class= "student-select-section">

      <div class="search-section">
        <h3>ID No. &nbsp;</h3>
        <input id="search-user-txt" class="reserve-user-input" type="text" name="" value="">
        <button class="custom-btn-1" type="button" name="button">Search</button>

      </div>

      <div class="room-selection-section">
        <h2>Room: <span id="roomName" name="roomNameLabel">N/A</span> </h2>
        <button  class="custom-btn-1" type="button" name="button" >Select Room</button>
      </div>

      <div class="student-table-section">




        <div class="table-scroll-section">
          <h1 id="techNameLabel" style="display:none">{{techID}}</h1>
          <table>
            <thead>
              <tr>
                <th class="table-cell">ID</th>
                <th class="table-cell">Last Name</th>
                <th class="table-cell">First Name</th>
                <th class="table-cell">Middle Initial</th>
                <th class="table-cell">Reserve</th>
              </tr>
            </thead>
            <tbody id="user-results-tbody">
              {{#each users}}
              <tr>
                <td class="table-cell">{{dlsuID}}</td>
                <td class="table-cell">{{lastName}}</td>
                <td class="table-cell">{{firstName}}</td>
                <td class="table-cell">{{middleInitial}}</td>
                <td class="table-cell">
                <button data-tech-id="{{techID}}" class="reserve-student-button" type="button" name="reserve-btn">Reserve Student</button>

              </tr>
              {{/each}}

            </tbody>

          </table>
        </div>




      </div>





    </section>











    <div class="modal-overlay" id="modalOverlay" onclick="closeModal()"></div>

    <div class="select-room-modal" id="selectRoomModal">
      <div onclick="closeModal()"  class="x-button-align-section">
        <button class="btn btn-danger" type="button" name="X-Button">X</button>
      </div>



      <div class="filter-section">

        <div class="d-flex filter-part-1">
          <div class="d-flex filter-part-1 align-items-center">

            <h3 class="label-custom-1">Room Name: </h3>
            <div class="d-flex align-items-center mx-3">
              <input id="search-lab-msg-txt" type="text" name="roomNameInput" value="">
            </div>

          </div>
          <!-- <div class="d-flex flex-column filter-part-1">
            <h2 class="label-custom-1">Date: </h2>

            <select class="form-control-input-date" id="inputDate">

            </select>

            <h2 class="label-custom-1">Room Type: </h2>
            <select class="form-control-input-room" id="inputRoom">
              <option value="room1">Any</option>
              <option value="room1">GK2</option>
              <option value="room2">GK3</option>
              <option value="room3">GK4</option>
            </select>


          </div>


          <div class="d-flex flex-column filter-part-1">
            <h2 class="label-custom-1" name="dropdownFrom">From: </h2>
            <select class="form-control-1" id="fromTime"></select>
            <h2 class="label-custom-1" name="dropdownTo">To: </h2>
            <select class="form-control-2" id="toTime"></select>
          </div> -->



          <!-- {{search-lab-modal}} -->
          <div class="d-flex flex-column filter-part-2" onclick="alert('Currently Unavailable')">
            <button class="custom-button-6 mx-5" type="button" name="button">Filter</button>
          </div>



        </div>




      </div>

      <div class="lab-choices-section">

          {{#each labs}}
          <div class="lab-choice-section">
            <img class="lab-choice-img" src="/pics/computerlab.jpg" alt="computer-lab">
            <div class="lab-choice-details">
              <h3>{{labName}}</h3>

              {{#if (isAvailable labStatus)}}
              <p class="status-text avail-text"><u>{{labStatus}}</u></p>
              {{else}}
              <p class="status-text full-text"><u>{{labStatus}}</u></p>
              {{/if}}
              <p>
                <span>Total: </span>
                <span><strong>{{labTotalSlots}}</strong></span><br>
                <span>Avail: </span>
                <span><strong>{{labAvailSlots}}</strong></span>
              </p>

              <div class="d-flex lab-choice-btn custom-default-font2">
                <div class="btn btn-success selectBtn-LT-Reserve" data-labname="{{labName}}">
                  Select
                </div>
              </div>


            </div>
          </div>
          {{/each}}

      </div>



      <div class="arrows-section">
        <button class="arrow-button">&larr;</button>  Page 1<button class="arrow-button right-arrow">&rarr;</button>
      </div>



    </div>
