
    <div class="profile-body">
      <section class= "profile-contact-section flex-column">
        <div class="profile-pic-and-name text-center ">


          <!--Hardcoded name2-->
          <div class="justify-content-center profile-column-section d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column ">
              <div class="btn btn-danger my-2">
                Delete Profile
              </div>
              <div class="btn btn-warning my-2">
                Edit Picture
              </div>

            </div>
            <img class="profile-regular-pic" src={{imageSource}} alt="default-pic">

            <p class="profile-name">
              {{fullName}}<i class="fa-solid fa-pencil"></i>

            </p>
            <p class="profile-name">
              ID : {{dlsuID}}
            </p>


          </div>


        </div>
        <hr>
        <div class="description-div">



          <div class="about-me">
            <h2 class= "custom-header1">About Me <i class="fa-solid fa-pencil"></i></h2>
            <p>Casual technician passing by. Appreciate in finding new friends or casual talk</p>

          </div>

        </div>
        <div class="contact-info-div ">
          <div class="contact-title d-flex justify-content-center">
            <i class="fa-solid fa-phone"></i>&nbsp; CONTACT
          </div>

          <table class="contact-table" cellpadding="10">
            <tr class="text-decoration-underline">
              <td>09561661140</td>
              <td><i class="fa-solid fa-pencil"></i></td>
            </tr>
            <tr class="text-decoration-underline">
              <td>Add another contact detail</td>
              <td><i class="fa-solid fa-plus"></i></td>
            </tr>

          </table>


        </div>



      </section>


      <section class= "profile-main-section">





        <div class="welcome-section-LT">
          <h1 class="welcome-msg">Welcome Lab <span class="technician-text">Technician!</span></h1>
        </div>


        <div class="buttons-section">

          <a href={{redirectReserve}} target="_self">
            <button class="custom-btn-4 btn-hover-custom-1" type="button" name="button">Reserve Walk-in Student</button>
          </a>

          <a href="{{redirectEdit}}">
            <button class="custom-btn-5 btn-hover-custom-2" type="button" name="button">View/Edit Reservations</button>
          </a>

        </div>




      </section>
    </div>
