
    <nav class="index-navbar navbar navbar-expand-lg bg-body-tertiary fixed-top">

      <button id="toggleSidebar" class="btn btn-outline-secondary toggle-sidebar-custom1 toggle-sidebar-btn">
        <i class="fa-solid fa-bars fa-3x"></i>
      </button>

      <i class="custom-color1 animo-icon fa-solid fa-calendar-days fa-4x"></i>

      <div class="animo-text">
        <a href="index.html" class ="no-decor" target="_self">
        <span class="navbar-text header-custom2">
          <div class="custom-color2">
            AnimoLab
          </div>
        </span>
        </a>
      </div>


      <!--Search Bar-->
      <div class="search-section container-fluid search_bar d-flex justify-content-center">
        <form class="d-flex" role="search">
          <input class="search-bar-input form-control me-2" type="search" placeholder="Search" aria-label="Search">

          <a href="/{{userType}}/{{dlsuID}}/search-labs" target="_self">
            <button class="btn btn-outline-light" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </a>
          <div class="mx-2 dropdown">

            <button class="btn btn-outline-light dropdown-toggle" type="button" id="browseDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse
            </button>


            <div class="dropdown-menu dropdown-browse-section" aria-labelledby="browseDropdown">

              <a href="/{{userType}}/{{dlsuID}}/search-users" target="_self">
                <button class="dropdown-item" type="button">Browse Users</button>
              </a>


              <a href="/{{userType}}/{{dlsuID}}/search-labs" target="_self">
                <button class="dropdown-item" type="button">Browse Labs</button>
              </a>


            </div>
          </div>
        </form>
      </div>

      <div class="profile-section" id="profile-section" name="{{dlsuID}}">

        <!--Hardcoded name1-->
        <div class="profile-section-text" id="profile-section-text" name="{{name}}">
          {{name}}
        </div>
        <div class="pic-and-mail">
          <img class="profile-section-pic" src={{imageSource}} alt="default-pic" id="profile-section-pic" name="{{imageSource}}">
          <div class="mail-icon-section" id="chat-open-btn">
            <i class="fa-solid fa-bell fa-3x"></i>
            <i class="circle-icon fa-solid fa-circle"></i>
          </div>
        </div>



      </div>




    </nav>
