



<script id="my-template" type="text/x-handlebars-template">
  <button id="seatXBtn" type="button" class="btn btn-danger close-btns" >X</button>

  <section id="room-container" class="room-container">
    <div class="d-flex align-items-center">
      <div class="whiteboard-section">
        <p><strong>Whiteboard/ PPT</strong></p>
      </div>

      <div class="container">
        <!-- Top Half -->
        <div class="row">
        \{{#each data}}


        \{{#eq group 1}}

            <div class="box no-margin-top">
              \{{#each seats}}

                <div class="seat-box _\{{seatNumber}}">
                  \{{seatNumber}}
                </div>


              \{{/each}}
            </div>


        \{{/eq}}

        \{{#eq group 3}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 5}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 7}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 9}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>


        \{{/eq}}
        \{{/each}}
      </div>

      <!-- Bottom Half -->
      <div class="row">
        \{{#each data}}
        \{{#eq group 2}}

          <div class="box no-margin-top">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 4}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 6}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 8}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>
        \{{/eq}}

        \{{#eq group 10}}
          <div class="box">
            \{{#each seats}}
              <div class="seat-box _\{{seatNumber}}">
                \{{seatNumber}}
              </div>
            \{{/each}}
          </div>


        \{{/eq}}


      \{{/each}}
      </div>
    </div>
  </div>
  </section>

</script>
