


<script id="reservations-list-template" type="text/x-handlebars-template">

  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_0) 1)}}
      \{{#each seats.next_day_0 as |reservation|}}

      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}

  </div>
  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_1) 1)}}
      \{{#each seats.next_day_1 as |reservation|}}

      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}

  </div>
  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_2) 1)}}
      \{{#each seats.next_day_2 as |reservation|}}

      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}

  </div>
  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_3) 1)}}
      \{{#each seats.next_day_3 as |reservation|}}

      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}

  </div>
  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_4) 1)}}
      \{{#each seats.next_day_4 as |reservation|}}
      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}

  </div>
  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_5) 1)}}
      \{{#each seats.next_day_5 as |reservation|}}

      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}

  </div>

  <div class="day">
    <div class="format-date">Today</div>
    \{{#if (gte (length seats.next_day_6) 1)}}
      \{{#each seats.next_day_6 as |reservation|}}

      <div class="date-details">
        <p class="text-decoration-underline">\{{reservation.labName}}</p>
        <p>(Seat \{{reservation.seatNumber}})</p>
        <p>\{{reservation.timeInterval}}</p>
      </div>
      \{{/each}}
    \{{/if}}
  </div>
</script>
